*{
	margin:0px;
	padding:0px;
}
body{
	
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
	font-family: Arial, Helvetica, sans-serif;
	font-family: 'Vollkorn', serif;
	font-size: 15px;
	color: #9C8282;
	background: url(../images/test1.png);
	font-weight: bold;
}
.clear-both{
	clear:both;
}

ul{
	list-style:none;
	height: 100%;
}

a{
	text-decoration:none;
	color: #000000;
}
.h1{
	font-size: 1.8em;
}
.h1{
	font-size: 1.7em;

}
.h2{
	font-size:1.6em;
	
}
.h3{
	font-size:1.5em;
	
}
.h4{
	font-size:1.4em;
	
}
.h5{
	font-size:1.3em;
	
}
.h6{
	font-size:1.2em;
	
}
.h7{
	font-size:1.1em;
	
}
.h8{
	font-size:1em;
	
}
.h9{
	font-size:0.9em;
	
}
.h10{
	font-size:0.8em;
	
}
.h11{
	font-size:0.7em;
	
}
.h12{
	font-size:0.6em;
	
}
.h13{
	font-size:0.5em;
	
}

.h0-hover{
	font-size:1.8em;
	
	transition:all 0.5s;
}
.h0-hover:hover{
	text-shadow:1px 1px 1px gray,1px 1px 80px;
	/* box-shadow: 1px 1px 10px; */
	/* border-radius: 7px; */
}
.h1-hover{
	font-size:1.7em;
	
	transition:all 0.5s;
}
.h1-hover:hover{
	text-shadow:1px 1px 1px gray,1px 1px 80px;
	/* box-shadow: 1px 1px 10px; */
	/* border-radius: 7px; */
}
.h2-hover{
	font-size:1.6em;
	
	transition:all 0.5s;
}
.h2-hover:hover{
	text-shadow:1px 1px 1px gray,1px 1px 80px;
	/* box-shadow: 1px 1px 10px; */
	/* border-radius: 7px; */
}
.h3-hover{
	font-size:1.5em;
	
	transition:all 0.5s;
}
.h3-hover:hover{
	text-shadow:1px 1px 1px gray,1px 1px 80px;
	/* box-shadow: 1px 1px 10px; */
	/* border-radius: 7px; */
}
.h4-hover{
	font-size:1.4em;
	
	transition:all 0.5s;
}
.h4-hover:hover{
	text-shadow:1px 1px 1px gray,1px 1px 80px;
	/* box-shadow: 1px 1px 10px; */
	/* border-radius: 7px; */
}
.h5-hover{
	font-size:1.3em;
	
	transition:all 0.5s;
}
.h5-hover:hover{
	text-shadow:1px 1px 1px gray,1px 1px 80px;
	/* box-shadow: 1px 1px 10px; */
	/* border-radius: 7px; */
}

.h6-hover{
	font-size:1.2em;
	
}
.h6-hover:hover{
	text-shadow:1px 1px 20px rgb(141, 189, 196)
}
.h7-hover{
	font-size:1.1em;
	
}
.h7-hover:hover{
	text-shadow:1px 1px 20px rgb(141, 189, 196)
}
.h8-hover{
	font-size:1em;
	
}
.h8-hover:hover{
	text-shadow:1px 1px 20px rgb(141, 189, 196)
}
.h9-hover{
	font-size:0.9em;
	/*  */
}
.h9-hover:hover{
	text-shadow: 1px 1px 20px rgb(141, 189, 196);
}
.h10-hover{
	font-size:0.8em;
	/*  */
}
.h10-hover:hover{
	text-shadow: 1px 1px 20px rgb(141, 189, 196);}
.h11-hover{
	font-size:0.7em;
	
}
.h11-hover:hover{
	text-shadow:1px 1px 20px rgb(141, 189, 196)
}
.h12-hover{
	font-size:0.6em;
	
}
.h12-hover:hover{
	text-shadow:1px 1px 20px rgb(141, 189, 196)
}
.h13-hover{
	font-size:0.5em;
	
}
.h13-hover:hover{
	text-shadow:1px 1px 20px rgb(141, 189, 196)
}

.circle-focus a{
	transition:all 1s;
	text-shadow: -1px -1px 1px black,1px 1px 1px white;
	
	color: #8F4949;
}
.circle-focus a:hover{
	
	text-shadow: 1px 1px 10px #8CABD3,1px 1px 1px #ccc;
}

.inset-box{
	1px 1px 10px inset,-2px -2px 1px black, 2px 2px 1px white
}
.menu-scroll-button{
	background:white url(../images/up.png) no-repeat;
}

.single-button{
	
	background-size: 80% 80%;
	background-position: center center;
	margin:10px 10px;
	width:40px;
	height:40px;
	border-radius:10px;
	opacity:0;
	transition:all 0.5s;
}
.single-button:hover{
	cursor:pointer;
	padding:5px;
	box-shadow:1px 1px 2px black inset,1px 1px 20px #ccc inset;
}
.single-button:active{
	box-shadow:none;
	border:1px solid black;
}


.rotate-180-deg{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate-90-deg{
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

.menu-move-up{
	top:-90px;
}
.menu-move-down{
	top:0px;
}
.menu-background-display{
	/*background: rgba(250, 250, 250, 0) !important;*/
	opacity:1;
}

.top-box {
	width:100%;
	height: 80px;
	position:fixed;
	left:0px;
	background: url(../images/test1.png);
	transition: all 1s;
	z-index: 1000;
	box-shadow: 1px 1px 10px;
	opacity: 1;
}
.top-box:hover{
	opacity:1;
}
.banner-title,.banner-sub-title{
	font-family: 'Special Elite', serif;	
	display:inline-block;

}
.banner-title{
	margin: -1px -1px 1px black,1px 1px 1px white;
	font-size: 2.9em;
	line-height: 40px;
	margin:3% 5% 0px;
}
.banner-sub-title{
	font-size:1.2em;
	margin-left:10%;
	line-height:30px;
}
.top-box-left, .top-box-right, .top-box-center{
	
	height:100%;
	/* box-shadow:0px 0px 100px gray inset; */
	
}
.top-box-left, .top-box-right{
	
	width: 300px;
}

.top-box-left{
	
	float:left;

}

.top-box-right{
	
	float:right;
	text-align:center;
	

}

.top-box-center{
	
	float:left;
	width: calc(100% - 600px);
	
}

.menu {
	

	height: 50px;
	width:100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.menu-item{
	display:inline-block;
    margin-top: 10px;
    
	margin-left: 5px;
}


.menu-item:hover .sub-menu{
	
    display: block;
	border-radius:7px;
	border-top-left-radius:0px;
	padding:0px;



    box-shadow: 1px 1px 10px gray;
}
.menu-item>a{
		
  	padding: 0px 10px 0px 10px;
    height:100%;
	display:block;
  	line-height: 30px;
	transition:all 0.5s;
	
}
.menu-item:hover{

	border-top-left-radius:7px;
	border-top-right-radius:7px;
	background: rgb(239, 239, 248);
}
.menu-item:hover>a{
	color: rgb(110, 149, 151);
}
.sub-menu{

    background: url(../images/test1.png);
    position: absolute;
    overflow: hidden;
    margin:0px;
	text-align:center;
	

    padding-left: 10px !important;

    height:0px;
    transition:all 1s;
	
    

    z-index: 1000;

}
.sub-menu li{
	float:left;

	display: inline-flex;
}


.sub-menu>li>a{
	display: inline-flex;
	line-height:30px;
	padding:0px 10px 0px 10px;
	transition:all 0.5s;
}
.sub-menu li a:hover{
	color: rgb(185, 122, 38);
	background:white;
	border-radius:5px;
	
}
.registration-box{

	margin:2% auto;;
	
}
.search-box{
	width:95%;

	margin:10px auto;
	position:Relative;
	
}
.search-button{
	

	width:30px;
	height:30px;
	background:url('../images/btsearch.png') no-repeat;
	background-size:60% 60%;
	background-position:center center;
	position:absolute;
	display:inline-block;
	border:none;
	border-radius:100%;
	top:0px;
	right: 15px;
	cursor:pointer;
	
	outline: none;
}
.search-text-field{

	border-radius:7px;
	height:30px;
	border:none;
	padding:0px 25px 0px 10px;
	

	width: 220px;
	text-shadow:none;
	font-weight:normal !import;
	color: rgba(0, 0, 0,0.6);
	box-shadow: 1px 1px 40px rgba(140, 213, 210, 0.3) inset;
	transition:all 1s;

}
.search-text-field:focus{
	opacity:1;
	outline-width:0px;
	color: rgba(0, 0, 0,0.6);
	box-shadow: 1px 1px 40px rgba(140, 213, 210, 0.8) inset;
	
}
.search-text-field:hover{
	box-shadow: 1px 1px 10px, 1px 1px 40px rgba(140, 213, 210, 0.8) inset;
}

.sitemap-box{

	width:100%;
	

	height: 20px;
	
}
.sitemap-box ul{
	margin:3px;
	padding:0px;
	float: left;
}
.sitemap-item{
	
	padding:0px 20px;
	background:url(../images/right-fast.png) no-repeat;
	background-size:auto 70%;
	background-position:left center;
	display:inline-block;
	
}
.sitemap-item:first-of-type{
	
	background: url(../images/home.png) no-repeat;
	padding:0px;
	margin-top:-2px;
	background-size:100% auto;
	background-position:left center;
	margin-right:10px;

}
.sitemap-item:last-of-type{
	
	

	
}
.sitemap-item:first-of-type:hover a{
	border-radius:100%;
	box-shadow: 1px 1px 40px rgb(174, 174, 243);
}
.sitemap-item:first-of-type a{
	
	padding:0px 10px 0px 10px;
	display:inline;
	
}
.sitemap-item a{
	color: rgba(126, 100, 100, 1);
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	max-width:120px;
	transition:all 1s;
	
}
.upload-button{
	padding-left:30px;
	background:Red;
	float:right;
	margin-right:10px;
	background:url(../images/upload.png) no-repeat;
	background-size:auto 100%;
	background-position:left center;
	cursor:pointer;
	transition:all 1s;
	
	color: black;
}
.slideshow-box{
    width: 800px;
    height: 360px;
    margin: 90px auto 0px;
    box-shadow: 1px 1px 10px;
    border-radius: 5px;
}
.my-slide{
    width: 98%;
    margin: 1%;
    height: 95%;
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.my-slide:hover .slide-button{
	
	opacity:0.5;
	
}
.my-slide-progress-bar{
	height: 10px;
	width: 100%;
	margin:auto;
	position:relative;
	box-shadow: 1px 1px 10px rgb(160, 160, 160) inset;
}
.my-slide-progress-value{

	background-color: rgb(204, 223, 213);
	height: 100%;
	width: 0px;
	position:absolute;
	top:0px;
	left:0px;

}
.slide-button{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 41%;
    opacity: 0;
    transition: all 0.3s;
	cursor:pointer;
    border-radius: 100px;
	background:url('../images/slide-left.png') no-repeat;
    background-position: center center;
    background-size: 100%;

    z-index: 2;
}
.slide-button:hover{
	opacity:1 !important;	
	box-shadow: 1px 1px 10px;
}
.slide-button:active{
	box-shadow:1px 1px 1px;
}
.slide-button-left{
    margin-left: 10px;
}
.slide-button-right{
    right: 10px;
}
.my-slide-body{
    width: 100%;
    height: 98%;

    position: relative;
}
.slide-item{	
	width:100%;
	height: 100%;
	float:left;
	margin: 0px;
	padding: 0px;
	z-index: 1;
	opacity: 0;
	transition:all 0.5s;
}

.slide-item-active{
	opacity:1 !important;
}
.slide-item-deactive{
	opacity:0;
}
.slide-item-image{
	width:100%;
	height:100%;
}
.my-slide-footer{
    position: absolute;
    left: 0px;
    z-index: 2;
    bottom: 10px;
    height: 15px;
    width: 100%;
}
.slide-sub-wrapper{
    height: 100%;
    width: 100%;
    position: relative;
}
.slide-sub-item{

    width: 8px;
    height: 20px;
    background: green;
    display: inline-block;
    margin-left: 10px;
	
    /* margin-top: -100px; */

}
.slide-sub-item-text{
    display: inline-block;
    box-shadow: 1px 1px 10px;
    background: rgb(226, 246, 226);
    position: relative;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    border-radius: 100%;
	cursor:pointer;
	transition: all 0.5s;

}
.slide-sub-item-text:hover{
	box-shadow:1px 1px 20px white;
}
.slide-sub-item-text-activated{
	box-shadow: 1px 1px 10px;
	background: red;
}
.slide-sub-item-text:hover .slide-sub-item-img{
	
	display:inline-block;
	
}
.slide-sub-item-img{

    position: absolute;
    z-index: 3;
    width: 200px;
    height: 80px;
    bottom: 160%;
    left: 0px;
    box-shadow: 1px 1px 10px;
    display: none;
    background-position: center center;
    background-repeat: no-repeat;  
    background-size: 90% !important;
}
.content-wrapper{
    width: 1100px;
    /* background: lavender; */
    margin: auto;
    margin-top: 10px;
}
.content-left {
    float:left;
    width: calc(98% - 300px);
    box-shadow: 1px 1px 10px;
    border-radius: 5px;
}
.content-right {
    float:right;
    width:300px;
    background:lavender;
}
.content-item-box{
    width: 95%;                  
    border-bottom: 2px solid rgba(128, 128, 128, 0.45);
    margin: 20px auto;
    border-radius: 10px;
}
.content-item-box-wrapper{
    margin-top: 20px;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}

.content-item-box-title{
    padding-bottom: 15px;
    font-family: 'Vollkorn', serif;
}
.content-item-box-title-left{
    text-shadow: -1px -1px 1px black,1px 1px 1px white;
    font-size: 2.8em;
    display: inline-block;
    float: left;
    padding-left: 20px;
}
.content-item-box-title-right{
    display: inline-block;
    float: right;
    margin: 30px 20px 10px 20px;
    text-align: right;
    color: rgb(163, 147, 147);
}
.content-item-box-content{
    /* width: 65%; */
    /* background: lavender; */
    padding: 15px;
    box-shadow: 1px 1px 10px inset,-3px -3px 1px rgb(71, 70, 70), 1px 1px 1px #928383;
    border-radius: 10px;
}
.vertical-list-container{
    width: 100%;
}
.music-list-item{
    padding: 5px 10px 5px 10px;
    border: 1px solid rgb(192, 190, 190);
    border-radius: 7px;
    line-height: 100%;
	transition:all 0.5s;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;
    margin-top: 5px;
}
.music-list-item:hover{
	background: rgba(169, 245, 242, 0.24);
}
.music-list-item-left{
    display: inline-block;
    width: 74%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.music-list-item-right{
    display: inline-block;
    /* float: right; */
    height: 100%;
    width: 25%;
}
.music-list-item-title{
    color: rgb(160, 114, 114);
}
.music-list-item-left-spliter{}
.music-list-item-singers{
    font-weight: lighter;
    color: #928997;
    font-family: Arial, Helvetica, sans-serif;
}
.music-list-item-views{
    height: 100%;
    width: 50%;
    float: left;
    padding: 5px 0px 0px 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: url(../images/headphones.png) no-repeat;
    background-size: 13px;
    background-position: 0px 5px;
    font-weight: normal;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.music-list-item-toolbox{
    display: inline-block;
    float: right;
}
.music-list-item-toolbox-item{
    width: 20px;
    height: 20px;
    display: inline-block;
    float: right;
    margin-left: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.music-list-item-toolbox-playlist{
    background-image: url(../images/playlist-add.png);
}
.music-list-item-toolbox-download{
    background-image: url(../images/download.png);
}
.music-list-item-spliter{}
.video-list{
    width: 100%;
    /* font-size: 15px; */
}
.video-list-item{
    width: 29.8%;
    /* float: left; */
  
    padding: 5px 5px 10px 5px;
    margin: 5px;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid lavender;
    float: left;
	transition:background 0.5s;
    position: relative;
    z-index: -0;
}
.video-list-item:hover{
  background: rgba(169, 245, 242, 0.24);
}
.video-list-item:hover .video-list-item-info-box {
    margin:auto;
    width: 97%;
    white-space:normal;
    text-overflow:initial;

    overflow-wrap:break-word;
}
.video-list-item-info-box-wrapper {
    position: absolute;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.84);
    width: 100%;
}
.video-list-item-info-box {
    margin:auto;
    width: 97%;
    padding-bottom: 3px;
    white-space: nowrap;  text-overflow: ellipsis;  overflow: hidden;
}
.video-list .video-list-item:first-of-type{
    width: 63%;
    /* font-size: 1.5em; */
    /* padding-bottom: 57px; */
}
.video-list-item-thumb{
    width: 100%;
    /* position: absolute; */
}
.video-list-item-title{
    font-size: 0.8em;
    color: rgb(95, 23, 23);
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
    width: 100%;
    /* display: inline-block; */
}
.video-list-item-author{
    line-height: 15px;
    font-size: 1.2em;
    font-weight: lighter;
    /* padding: 0px 15px; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 100;
}
.video-list-item-views{
    line-height: 15px;
    font-weight: lighter;
    padding-left: 20px;
    background: url(../images/view.png) no-repeat;
    background-size: auto 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.
.
.
.
.
.
.
.
.
.
.


